@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

@font-face {
	font-family: 'Metropolis Regular';
	font-style: normal;
	font-weight: 400;
	src: local('Metropolis Regular'), local('Metropolis Regular'), url(/cdn/font/Metropolis-Regular.woff2) format('woff2');
}

body{
	margin: 0;
	background-color: #f8f8f8;
	height: 100vh;
}

a{
	text-decoration: none;
	color: #444;
	-webkit-user-drag: none;
	user-select: none;
}

*::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: #fff;
}

*::-webkit-scrollbar-track{
	width: 10px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb{
	width: 10px;
	background-color: #ccc;
}

*::-webkit-scrollbar-thumb:hover{
	background-color: #aaa;
}

*::-webkit-scrollbar-thumb:active{
	background-color: #888;
}

.text{
	font-family: roboto;
	font-size: 1rem;
	line-height: 1rem;
	display: inline-block;
	font-weight: 300;
}

.text.metro{
	font-family: 'Metropolis Regular';
	font-weight: 400;
}

@keyframes waiting{
	0%{
		left: 0%;
		right: 80%
	}

	25%{
		left: 15%;
		right: 15%
	}

	50%{
		left: 80%;
		right: 0%
	}

	75%{
		left: 15%;
		right: 15%
	}

	100%{
		left: 0%;
		right: 80%
	}
}

.waiting-animation{
	position: relative;
	width: 100%;
	height: 3px;
	overflow: hidden;
	z-index: 1
}

.waiting-animation:after{
	content: '';
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 0;
	bottom: 0;
	animation: waiting 1s cubic-bezier(0.32, 0.24, 0.58, 1) infinite;
	border-radius: 1000px;
}

.shadow-heavy{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-light{
	box-shadow: 0 4px 8px -3px rgba(17, 17, 17, .1);
}

.waves{
	position: relative;
}

.wave-container{
	all: inherit;
	overflow: hidden;
	position: absolute;
	user-select: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
	pointer-events: none;
}

.ripple{
	width: 1px;
	height: 1px;
	transform: scale(0);
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
	transition: transform 0.6s cubic-bezier(.25, .46, .45, .94), opacity 0.3s linear;
}

.page-container{
	width: 100%;
	height: 100%;
	position: relative;
}

.top-bar{
	width: calc(100% - 96px);
	height: 48px;
	background-color: #fff;
	z-index: 2;
	padding: 12px 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.top-bar .right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	flex: 1;
}

.top-bar .logo{
	margin-right: 40px;
	border-radius: 3px;
}

.top-bar .logo-container{
	display: inline-block;
	width: 180px;
	height: 40px;
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	padding: 4px;
	overflow: visible;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.top-bar .quick-nav{
	padding: 16px;
	cursor: pointer;
}

.top-bar .quick-nav:hover{
	text-decoration: underline;
}

.top-bar-profile-photo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.top-bar-profile-options{
	position: absolute;
	right: 108px;
	top: 40px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 4px;
	outline: none;
	z-index: 3;
}

.top-bar-new-activity-container{
	width: 24px;
	height: 24px;
	margin-left: 16px;
}

.top-bar-new-activity{
	fill: none;
	stroke: none;
	stroke-linecap: round;
	width: 24px;
	height: 24px;
}

.page{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 16px;
	height: calc(100% - 104px);
	overflow: auto;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.initial-loader{
	width: 100px;
	height: 100px;
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-width: 8px;
}

@keyframes rotate{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.initial-loader circle{
	stroke-dasharray: 50.26548245743669 50.26548245743669;
	animation: rotate 1s ease infinite;
	transform-origin: 50% 50%;
}

.toast-container{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 288px;
	padding: 40px;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	pointer-events: none;
	z-index: 100;
}

.toast{
	position: relative;
	overflow: hidden;
	width: 288px;
	height: 0px;
	margin: 0px 0;
	transition: height 0.2s ease, margin 0.2s ease;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.toast.show{
	height: 48px;
	margin: 6px 0;
}

.toast-content{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 32px;
	width: 240px;
	padding: 8px 24px;
	background: #323232;
	border-radius: 2px;
	color: #f1f1f1;
}

.toast-indeterminate{
	position: absolute;
	width: 30px;
	height: 3px;
	right: 24px;
}

.profile-table{
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
}

.profile-container{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile-container.left{
	width: 400px;
	display: flex;
}

.profile-container.right{
	width: 400px;
}

.profile-container.middle{
	flex-grow: 1;
}

.profile-container.expander{
	width: 12px;
}

.profile-container .top-padding{
	width: 100%;
	height: 150px;
}

.profile-about-container{
	width: 320px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: #fff;
}

.profile-photo-container{
	transform: translateY(-50%);
	background-color: #f8f8f8;
	width: 190px;
	height: 190px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.profile-photo{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.profile-edit-button{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: absolute;
	justify-content: center;
	align-items: center;
	background-color: #0008;
	display: none;
	opacity: 0;
	transition: opacity 0.2s ease;
	cursor: pointer;
	color: #fff;
}

.profile-photo-container.editable .profile-edit-button{
	display: flex;
}

.profile-photo-container.editable .profile-edit-button:hover{
	opacity: 1;
}

.profile-details{
	width: 280px;
	display: flex;
	flex-direction: column;
	position: relative;
	top: -80px;
}

.profile-editable-string-container{
	display: flex;
	flex: 1;
	justify-content: center;
	position: relative;
	align-items: center;
}

.profile-editable-string-container input,
.profile-editable-string-container textarea{
	display: none;
	width: 100%;
	text-align: center;
	resize: none;
	background-color: transparent;
}

.profile-editable-string-container textarea{
	height: 100px;
}

.profile-editable-string-container.editing input,
.profile-editable-string-container.editing textarea{
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 0;
}

.profile-editable-string-container.editing span{
	display: none;
}

.profile-editable-string-svg{
	fill: #888;
	opacity: 0;
	width: 24px;
	height: 24px;
	margin-left: 4px;
	position: absolute;
	right: 0;
	background-color: #fff;
	border-radius: 50%;
	transition: opacity 0.2s;
}

.profile-editable-string-container.editable:hover .profile-editable-string-svg{
	opacity: 1;
	cursor: pointer;
}

.profile-editable-string-svg:hover{
	fill: #444;
}

.profile-editable-string-container.editing .profile-editable-string-svg{
	display: none;
}

.profile-details .divider{
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 12px 0;
}

.profile-name{
	font-size: 32px;
	line-height: normal;
	word-break: break-all;
}

.profile-follow-count{
	padding: 40px 0 0 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.profile-follow-count .divider{
	display: inline-block;
	width: 1px;
	height: 36px;
	background-color: #ccc;
}

.profile-follow-counter{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-follow-counter .title{
	color: #555;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: normal;
}

.profile-follow-counter .number{
	font-size: 24px;
	line-height: normal;
	font-weight: 500;
}

.profile-bio{
	margin: 20px 0;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	font-weight: 400;
	text-align: left !important;
	word-break: break-word;
}

.profile-location{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	min-height: 20px;
}

.profile-location .text{
	text-overflow: ellipsis;
	color: #444;
	overflow: hidden;
	word-break: break-word;
}

.profile-submit{
	border-radius: 1000px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	height: 40px;
	cursor: pointer;
	user-select: none;
	background-color: #000;
	margin-top: 24px;
}

.profile-follow{
	border-radius: 1000px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #000;
	height: 40px;
	cursor: pointer;
	user-select: none;
	border: #000 1px solid;
	margin-top: 24px;
}

.profile-submit.disabled{
	background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	animation: cycle 4s linear infinite;
	cursor: default;
}

.profile-submit-error{
	color: #a00;
	font-size: 13px;
	margin-top: 8px;
	height: 16px;
	text-align: center;
	width: 100%;
}

.profile-clubs{
	width: 280px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: #fff;
	min-height: 40px;
	padding: 20px;
}

.profile-clubs-title-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
	position: relative;
}

.profile-clubs-title-new-container{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
}

.profile-clubs-title-new{
	fill: none;
	stroke: none;
	stroke-linecap: round;
	width: 24px;
	height: 24px;
}

.profile-clubs-title{
	font-size: 24px;
	line-height: normal;
}

.profile-clubs-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.profile-clubs-photo-container{
	width: 64px;
	height: 64px;
	margin: 2px;
}

.profile-clubs-photo{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-position: center;
	background-size: cover;
}

.profile-activity{
	background-color: #fff;
	border-radius: 8px;
	padding: 24px;
	width: calc(100% - 48px);
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	align-items: center;
}

.profile-activity-error{
	width: 100%;
	text-align: center;
}

.profile-activity-container{
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.profile-activity-container.left{
	flex-direction: row;
	flex: 1;
}

.profile-activity-container.right{
	flex-direction: row-reverse;
	flex: 1;
}

.profile-activity-container.offset{
	width: calc(100% - 128px);
}

.profile-activity-creator-photo{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin: 16px;
}

.profile-activity-club-photo{
	width: 32px;
	height: 32px;
	border-radius: 2px;
	background-position: center;
	background-size: cover;
	margin: 16px;
}

.profile-activity-title{
	font-size: 16px;
	line-height: normal;
	font-weight: 600;
	margin-bottom: 8px;
}

.profile-activity-time{
	color: #555;
	margin-bottom: 8px;
	font-size: 14px;
}

.profile-activity-description{
	word-break: break-word;
	line-height: 20px;
}

.profile-activity-location{
	display: flex;
	flex: 1;
	margin: 20px 0;
    height: 500px;
}

.profile-activity-attending-photo{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin: 8px 4px 0 0;
}

.profile-activity-attend-button{
	border-radius: 1000px;
	width: 180px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #000;
	height: 32px;
	cursor: pointer;
	user-select: none;
	border: #000 1px solid;
}

.profile-activity-attend-button.animation{
	background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	animation: cycle 4s linear infinite;
	color: #fff;
	border: #fff 1px solid;
}

.activities-loader-center{
	display: flex;
	justify-content: center;
	padding: 40px;
	width: 100%;
}

.activities-loader{
	width: 100px;
	height: 100px;
	fill: none;
	stroke: #fff;
	stroke-width: 4px;
}

.activities-loader circle{
	stroke-dasharray: 25.1327412287 25.1327412287;
	animation: rotate 0.7s ease infinite;
	transform-origin: 50% 50%;
}

.login-background{
	background-image: linear-gradient(to bottom right, #f00, #00f);
}

.login-form{
	width: 320px;
	border-radius: 8px;
	background-color: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.login-form-title{
	font-size: 28px;
	font-weight: 600;
}

.login-form-entries{
	margin: 20px 0;
	padding: 16px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 370px;
}

.login-form-entry{
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 8px 0;
	width: 320px;
}

.login-form-entry.break{
	flex-basis: 100%;
	margin: 0;
	width: 0;
}

.login-form-entry-input-container{
	border-bottom: #ccc 1px solid;
	padding: 8px 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	position: relative;
}

.login-form-entry-icon{
	width: 24px;
	height: 24px;
	margin-right: 12px;
}

.login-form-entry-input{
	background-color: transparent;
	font-size: .875rem;
	line-height: .875rem;
	height: 100%;
	display: flex;
	flex: 1;
	color: #444;
	border: 0;
	outline: 0;
	padding: 0;
}

.login-form-entry-input-focus-visualizer{
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: transform .2s;
	padding: 0;
}

.login-form-entry:focus-within .login-form-entry-input-focus-visualizer{
	transform: scaleX(1);
}

.login-form-entry-error{
	color: #a00;
	font-size: 13px;
	margin-top: 8px;
	height: 16px;
}

.login-button{
	border-radius: 1000px;
	width: 320px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	height: 40px;
	cursor: pointer;
	user-select: none;
	background-color: #000;
}

@keyframes cycle{
	0%{
		background-position: 0% 0%;
	}

	50%{
		background-position: 30% 0%;
	}

	100%{
		background-position: 60% 0%;
	}
}

.login-button.disabled{
	background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	animation: cycle 4s linear infinite;
	cursor: default;
}

.login-change-container{
	display: inline-block;
	height: 20px;
	margin-top: 16px;
}

.login-change-container .text{
	padding: 0 2px;
	font-size: 12px;
}

.login-change-button{
	color: #888;
	cursor: pointer;
}

.login-change-button:hover{
	text-decoration: underline;
}

.new-activity-form{
	width: 1304px;
	border-radius: 8px;
	background-color: #fff;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.new-activity-form-container{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.new-activity-form-container.column{
	flex-direction: column;
	align-items: center;
	margin-right: 24px;
	width: 640px;
}

.new-activity-form-title{
	font-size: 28px;
	font-weight: 600;
}

.new-activity-form-entries{
	margin: 20px 0;
	padding: 16px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.new-activity-form-entry{
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 8px 0;
	width: 320px;
}

.new-activity-form-entry.break{
	flex-basis: 100%;
	margin: 0;
	width: 0;
}

.new-activity-form-entry.large{
	width: 640px;
}

.new-activity-form-entry.large .new-activity-form-entry-input{
	resize: none;
}

.new-activity-form-entry.large .new-activity-form-entry-input-container{
	height: auto;
}

.new-activity-form-entry-input-container{
	border-bottom: #ccc 1px solid;
	padding: 8px 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	position: relative;
}

.new-activity-form-entry-input{
	background-color: transparent;
	font-size: .875rem;
	line-height: .875rem;
	height: 100%;
	display: flex;
	flex: 1;
	color: #444;
	border: 0;
	outline: 0;
	padding: 0;
}

textarea.new-activity-form-entry-input{
	height: 100px;
}

.new-activity-form-entry-input-focus-visualizer{
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: transform .2s;
	padding: 0;
}

.new-activity-form-entry-input-container.row{
	flex-direction: row;
	align-items: center;
	border: none;
}

.new-activity-form-entry-dropdown{
	width: 128px;
	height: 32px;
	border: #000 2px solid;
	border-radius: 2px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	cursor: pointer;
	position: relative;
	outline: none;
	margin-right: 4px;
}

.new-activity-form-entry-dropdown.long{
	width: 256px;
}

.new-activity-form-entry-dropdown.short{
	width: 93px;
}

.new-activity-form-entry-dropdown-text{
	color: #000;
	width: calc(100% - 36px);
}

.new-activity-form-entry-dropdown-text.placeholder{
	color: #888;
}

.new-activity-form-entry-dropdown-svg{
	width: 24px;
	height: 24px;
	fill: #888;
	transition: transform 0.2s;
}

.new-activity-form-entry-dropdown.choosing .new-activity-form-entry-dropdown-svg{
	transform: rotate(180deg);
}

.new-activity-form-entry-dropdown-values{
	width: 100%;
	padding: 16px 0;
	max-height: 200px;
	overflow: auto;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	flex-direction: column;
	z-index: 10;
}

.new-activity-form-entry-dropdown.choosing .new-activity-form-entry-dropdown-values{
	display: flex;
}

.new-activity-form-entry:focus-within .new-activity-form-entry-input-focus-visualizer{
	transform: scaleX(1);
}

.new-activity-form-entry-dropdown-value{
	padding: 8px 16px;
}

.new-activity-form-entry-dropdown-value:hover{
	background-color: #0001;
}

.new-activity-form-entry-club-container{
	height: 40px;
	padding: 0 20px;
	width: 280px;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.new-activity-form-entry-club-container:hover{
	background-color: #0001;
}

.new-activity-form-entry-dropdown-values.clublist .new-activity-form-entry-dropdown-value{
	user-select: none;
	word-break: break-word;
}

.new-activity-form-entry-dropdown-values.clublist .new-activity-form-entry-dropdown-value .text{
	width: calc(100% - 72px);
}

.new-activity-form-entry-club-photo{
	width: 32px;
	height: 32px;
	background-position: center;
	background-size: cover;
	border-radius: 2px;
	margin-right: 8px;
}

.new-activity-form-entry-club-close{
	width: 24px;
	height: 24px;
	margin-left: 8px;
	display: none;
	fill: #888;
	cursor: pointer;
}

.new-activity-form-entry-club-close:hover{
	fill: #000;
}

.new-activity-form-entry-club-container.chosen{
	padding: 8px 0;
	cursor: default;
}

.new-activity-form-entry-club-container.chosen:hover{
	background-color: transparent;
}

.new-activity-form-entry-club-container.chosen .new-activity-form-entry-club-close{
	display: inline-block;
}

.new-activity-form-entry-error{
	color: #a00;
	font-size: 13px;
	margin-top: 8px;
	height: 16px;
}

.new-activity-button{
	border-radius: 1000px;
	width: 320px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	height: 40px;
	cursor: pointer;
	user-select: none;
	background-color: #000;
}

.new-activity-button.disabled{
	background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	animation: cycle 4s linear infinite;
	cursor: default;
}

.new-activity-location{
	display: flex;
	flex: 1;
	margin: 20px 0;
	height: 100%;
	width: 640px;
}

.new-club-photo-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.new-club-photo{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin-right: 16px;
}

.new-club-set-photo-container{
	display: flex;
	flex-direction: column;
}

.new-club-set-photo-button{
	color: #888;
	cursor: pointer;
}

.new-club-set-photo-button:hover{
	text-decoration: underline;
}